.header {
  width: 100%;
  height: 95px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--border-color);
  background-color: #ffffff91;
  backdrop-filter: blur(12px);
}

.header__mobile {
  display: none;
}

.header__mobile .left-sidebar__profile-picture {
  flex: 1;
}

.header__mobile .bx.bxl-twitter.logo {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 28px;
  color: var(--primary-color);
}

.header p {
  font-weight: 600;
  font-size: 20px;
  align-self: flex-start;
}

.header__feed-select.mobile {
  display: none;
  position: sticky;
  top: -2px;
  backdrop-filter: blur(12px);
  background-color: var(--light);
  height: 50px;
}

.header__feed-select {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__feed-select a {
  display: flex;
  color: var(--grey);
  width: 100%;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.header__feed-select a.selected {
  color: var(--dark);
  font-weight: 600;
}

.header__feed-select a.selected span {
  border-bottom: 5px solid var(--primary-color);
  border-radius: 0 0 3px 3px;
}
